<head th:fragment="headTag">

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title >hd的名字叫什么</title>

    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="css/fontstyle.css" th:href="@{/css/fontstyle.css}" rel="stylesheet" />
    <link href="css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <link href="css/my-custom.css" th:href="@{/css/my-custom.css}" rel="stylesheet" />

    <!-- GOOGLE FONTS -->
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" />-->



    <link href="css/dataTables.bootstrap.css" th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet" />
    <link href="css/jquery.dataTables.css" th:href="@{/css/jquery.dataTables.css}" rel="stylesheet" />
</head>