<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar" >
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">


                <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>生态公益林局政策</span></a></li>
                <li><a href="case_town_view.html" ><i class="lnr lnr-code"></i> <span>制订上报林业补偿方案</span></a></li>
                <li><a href="case_town_view2.html" ><i class="lnr lnr-code"></i> <span>审核乡镇提交方案</span></a></li>
                <li><a href="data_view.html" ><i class="lnr lnr-code"></i> <span>审核乡镇提交资料</span></a></li>
                <li><a href="case_view2.html" class=""><i class="lnr lnr-code"></i> <span>制订上报财政拨款方案</span></a></li>
                <li><a href="case_view.html" class=""><i class="lnr lnr-code"></i> <span>审核上报财政拨款方案</span></a></li>
                <!--<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>处理财政退回的方案</span></a></li>-->
                <li><a href="settings.html" class=""><i class="lnr lnr-cog"></i> <span>乡镇的会员管理</span></a></li>
                <li><a href="messages_view.html" class=""><i class="lnr lnr-alarm"></i> <span>系统通知</span></a></li>
                <li><a href="messages_view.html" class=""><i class="lnr lnr-alarm"></i> <span>系统通知</span></a></li>
                <li><a href="user_list/1.html" class=""><i class="lnr lnr-alarm"></i> <span>用户管理</span></a></li>

                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>文件归档</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="uploads.html" class="">林权证扫描件</a></li>
                            <li><a href="#" class="">补偿文件扫描件</a></li>
                            <li><a href="#" class="">日常办公文档</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->