<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://github.com/dandelion/datatables"
      lang="en">
<head th:include="fragments/headTag :: headTag"><!-- REPLACE BEFORE COMMITTING --></head>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div th:include="fragments/navBar :: header" th:remove="tag">REPLACE BEFORE COMMITTING</div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div th:include="fragments/sidebarTag" th:remove="tag">REPLACE BEFORE COMMITTING</div>
    <!-- END LEFT SIDEBAR -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- RECENT PURCHASES -->
                        <div class="panel panel_progress">
                            <div class="panel-heading ph1">
                                <h3 class="text-center"><b>审批进度</b></h3>
                            </div>
                            <div class="panel-body pb1">
                                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

                                <div class="col-md-12 progressbar">
                                    <div class="progress-line">
                                        <div class="div-cricle col-md-3">
                                            <button class="btn-step1"></button>
                                            <p>林业站提交</p>
                                            <p>提交成功</p>
                                            <p>2017-11-01</p>
                                        </div>
                                        <div class="div-cricle col-md-3">
                                            <button class="btn-step2"></button>
                                            <p>林业局审批</p>
                                            <p>审批通过</p>
                                            <p>2017-11-02</p>
                                        </div>
                                        <div class="div-cricle col-md-3">
                                            <button class="btn-step3"></button>
                                            <p>财政局审批</p>
                                            <p>审批通过</p>
                                            <p>2017-11-03</p>
                                        </div>
                                        <div class="div-cricle col-md-3">
                                            <button class="btn-step4"></button>
                                            <p>银行审批</p>
                                            <p>审批中</p>
                                            <p>2017-11-04</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="progress progress-striped active progress-no-margin">
                            <div class="progress-bar progress-bar-success" role="progressbar" >
                            </div>
                        </div>
                        <div class="panel panel_progress">
                            <div class="empty">

                            </div>
                        </div>
                        <!-- END RECENT PURCHASES -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" th:value="${#httpServletRequest.getParameter('state')}" id="state"/>
    <!--<div class="clearfix"></div>-->
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<div th:include="fragments/jsTag" th:remove="tag">REPLACE BEFORE COMMITTING</div>
<!-- END Javascript -->
</body>
<script>
    $(document).ready(function () {
        var condition = $('#state').val();
        progresscolor(condition);
    })

    function progresscolor(step){
        var int_step = parseInt(step)-1;
        var btn_width = 12.5+(25*int_step)+"%";
        var btn_step;
        var btn_class;
        $('.progress-bar').css('width',btn_width);
        for(var i=1;5>i;i++){
            btn_step = ".btn-step"+i;
            btn_class = "btn-step"+i;
            $(btn_step).attr('class',btn_class+' btn-progress-verifying');
        }
        if(int_step>4){
            for(var i=1;5>=i;i++){
                btn_step = ".btn-step"+i;
                btn_class = "btn-step"+i;
                $(btn_step).attr('class',btn_class+' btn-progress-success');
            }
        }else{
            for(var i=0;int_step>=i;i++){
                btn_step = ".btn-step"+i;
                btn_class = "btn-step"+i+" btn-progress-verifying";
                $(btn_step).attr('class',btn_class+' btn-progress-success');
            }
        }
    }
</script>
</html>